html, body {
  background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: rgb(17, 24, 39);
  }
}

.text-debug {
  font-size: 0.60rem;
  line-height: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.z-debug {
  z-index: 10000;
}

.grid-debug {
  grid-template-columns: 1fr 170px;
}

#root {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  background-color: white;
  box-shadow: 5px 5px 20px -20px #000000;
}

main {
  grid-area: main;
  padding: 15px 10px 35px 10px;
  margin-bottom: 68px;
  overflow: auto;
}

main.full {
  padding: 15px 10px 15px 10px;
  margin-bottom: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: white;
  grid-area: footer;
  box-shadow: 5px 5px 50px -10px #000000;
  z-index: 100;
}

article[type="attraction"] {
  grid-template-columns: auto 110px;
}

article[type="entertainment"] {
  grid-template-columns: auto min-content;
}

article[type="restaurant"] {
  grid-template-columns: auto 110px;
}

article[type="weather"] {
  grid-template-columns: auto 80px;
}

.grid-services {
  grid-template-columns: min-content;
  white-space: nowrap;
}

.grid-title-bar-no-notify {
  display: grid;
  grid-template-columns: 1fr 45px 45px;
  gap: 5px;
}

@media (min-width: 1024px) {
  .grid-title-bar-no-notify {
    grid-template-columns: 1fr 45px 45px 45px 45px 45px;
  }
}

.grid-title-bar {
  grid-template-columns: 1fr 45px 45px 45px;
}

@media (min-width: 1024px) {
  .grid-title-bar {
    grid-template-columns: 1fr 45px 45px 45px 45px 45px 45px;
  }
}

.construction-color {
  background: repeating-linear-gradient(
      45deg,
      rgb(217, 119, 6),
      rgb(217, 119, 6) 10px,
      black 10px,
      black 20px
  );
}

.dialog {
  z-index: 10000;
}

.no-js-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.no-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #E2E8F0;
  background-color: #F8FAFC;

  padding: 20px;

  text-align: center;
}

.basic-page {
  h1 {
    font-weight: 700;

    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h2 {
    margin-top: 20px;

    font-weight: 700;

    font-size: 1.5rem;
    line-height: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  p {
    margin-top: 20px;
  }
}

.timer-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.timer {
  flex: 1 0 100%;
}

.timer-content-1 {
  margin-right: -100%;
  animation: timer-fade-1 20s ease infinite;
}

.timer-content-2 {
  margin-right: -100%;
  opacity: 0;
  animation: timer-fade-2 20s ease infinite;
}

.timer-content-3 {
  margin-right: -100%;
  opacity: 0;
  animation: timer-fade-3 20s ease infinite;
}

.timer-content-4 {
  opacity: 0;
  animation: timer-fade-4 20s ease infinite;
}

@keyframes timer-fade-1 {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes timer-fade-2 {
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}

@keyframes timer-fade-3 {
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes timer-fade-4 {
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
