#root {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  background-color: white;
  box-shadow: 5px 5px 50px -20px #000000;
}

main {
  grid-area: main;
  padding: 15px 10px 35px 10px;
  margin-bottom: 68px;
  overflow: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: white;
  grid-area: footer;
  box-shadow: 5px 5px 50px -10px #000000;
  z-index: 100;
}

article {
  grid-template-columns: auto 75px;
}
